
@{
    ViewData["Title"] = "Index";
    
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h2 class="text-left">Presentation of our project :</h2>
    <p class="text-left">In this project for the courses at the EPSIC, we chose with my partner to create a website hosting in backend c#</p>
    <p class="text-left">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p class="text-left">On this application, you can upload your files that will be stored in our Azure servers. You can also use this application to store your images on the cloud!</p>
    <h2 class="text-left">Accédez à vos fichiers</h2>
    <p class="text-left">nous vous offrons une plateforme centralisée pour le stockage, le partage de fichiers et la synchronisation. Que vous soyez au bureau ou en déplacement, vos fichiers sont synchronisés sur tous vos appareils et accessibles en temps réel. Accédez à votre compte avec Internet depuis votre navigateur.
    </p>
</div>

