@{
    ViewData["Title"] = "My Cloud";
}

@section Head {
    <link rel="stylesheet" asp-append-version="true" href="~/css/FileManager.css" />
}

@section Scripts {
    <script asp-append-version="true" type="text/javascript" src="~/ts/FileManager.js"></script>
}

<div class="container">
    <div class="row">
        <div class="fm-sb col-sm-1">
            <div class="fm-sb-headers">

            </div>
            <div id="fm-sb-folders" class="fm-sb-folders">
                <!-- Sidebar Folders (Quick access) -->
                <template id="fm-sb-folder-template">
                    <div class="card" id="folder-1" data-folder-id="%id%">
                        <p>%folder-name%</p>
                    </div>
                </template>

                <button id="debug">Debug</button>
            </div>
        </div>

        <div class="fm-content col-xl">
            <div class="container">
                <!-- File Container -->
                <div class="row" id="file-container">
                    <!-- Files -->

                    <template id="file-template">
                        <div class="col fm-file" data-file-id="%id%">
                            <div class="card">
                                <img id="file-%id%-imgpreview" src="%FILE_PREVIEW_URL%" class="card-img-top" alt="%FILE_NAME% - Preview" />

                                <div class="card-body">
                                    <h5 class="card-title">%FILE_NAME%</h5>
                                    <h6 class="card-subtitle">%FILE_INFO%</h6>
                                </div>

                                <div class="card-body">
                                    <a id="file-%id%-download" class="btn btn-primary card-link fm-btn-download"><i class="fas fa-file-download"></i></a>
                                    <a id="file-%id%-more" class="btn btn-outline-secondary card-link fm-btn-more"><i class="fas fa-ellipsis-h"></i></a>
                                </div>
                            </div>
                        </div>
                    </template>

                </div>
            </div>
        </div>
    </div>
</div>