.fm-sb {

}

.fm-sb-headers {

}

.fm-sb-folders {

}

.fm-content {

}

.fm-file {
    padding-bottom: 25px;
}

.fm-file > div {
    width: 18rem;
}

.fm-btn-download {

}

.fm-btn-more {
    float: right;
}