.fm-sb {

}

.fm-dragging {
    border-color: dodgerblue;
    border-style: dashed;
}

.fm-sb-headers {

}

.fm-sb-folders {

}

.fm-sb-folders-current {

}

.fm-content {

}

.fm-file {
    padding-bottom: 25px;
}

.fm-file > div {
    width: 18rem;
}

.fm-file img {
    height: 200px;
}

.fm-btn-download {

}

.fm-btn-more {
    float: right;
}