.fm-sb {

}

.fm-dragging {
    border-color: dodgerblue;
    border-style: dashed;
}

.fm-sb-headers {

}

.fm-sb-folders {

}

.fm-sb-folder {
    cursor: pointer
}

.fm-sb-folders-current {
    background-color: dimgray;
}

.fm-container {
    min-height: 400px;
    background-color: #b0b0b047;
}

.fm-content {

}

.fm-file {
    padding-bottom: 25px;
}

.fm-file > div {
    width: 18rem;
}

.fm-file img {
    height: 200px;
}

.fm-btn-download {

}

.fm-btn-more {
    float: right;
}

.msg-alert {
    margin-top: 25px;
    margin-left: 25px;
}