@{
    ViewData["Title"] = "Home Page";
}
<div class="background-image">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        <p>On this application, you can upload your files that will be stored in our Azure servers. You can also use this application to store your images on the cloud!</p>
    </div>
</div>